{% extends 'admin_nav.html' %}
{% block body %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>


<body>
  <div class="container mt-5 mb-5">
      <h2 class="text-center">ALL USERS</h2><hr>
      <table class="table table-striped table-bordered" id="example" >
        <thead>
        <tr>
            <th>Sr no.</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Branch</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for i in users %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td style="text-transform : uppercase;">{{i.user.first_name}} {{i.user.last_name}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.role}}</td>
            <td><a href="{% url 'delete_users' i.user.id %}" class="btn btn-danger" onclick="return confirm('USER WILL BE DELETED, YOU SURE ?')">DELETE</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
  </body>

{% endblock %}